:root {
    --basic: rgb(204, 203, 203);
    --dark-color: #053378;


}

.header .navbar .logo {
    height: 90px;
    width: 300px;
}

.navbar {
    background-color: var(--dark-color);
}

.navbar a {
    color: white;
    font-weight: 500;
    font-size: larger;
}


/* footer............................................................................ */

footer {
    background-color: var(--dark-color);
    color: white;
    height: fit-content;
}

footer .container .pharos {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: grid;
    align-items: center;
}

footer .link ul {
    list-style: none;
}

/*end footer .............................................................................*/


.form {
    border: 2px solid var(--dark-color);
}

.general {
    height: 180vh;
}

.general .home1 .container .row{
    
    animation: xxxx 5s linear 1, 5ms linear linear;
    



}

@keyframes xxxx {
    from {
        
        grid-column-gap: 0px;
    }

    to {
    
        grid-column-gap: 100px;
    }


}

input::placeholder {
    text-align: center;
}